/Lab Task1/01_Basic Calculator/lib
/Lab Task1/01_Basic Calculator/src/*App.class
/Lab Task1/2_Number Conversion/*.md
/Lab Task1/3_Pattern Printing/*.md
/Lab Task1/01_Basic Calculator/*.md
/Lab Task2/*.class
/Lab Task4/src/*.class
/Lab Task3/src/*.class
